[submodule "COMP4537/labs/4"]
	path = COMP4537/labs/4
	url = https://github.com/Nathan-h05/COMP4537-Lab4.git
[submodule "COMP4537/labs/5"]
	path = COMP4537/labs/5
	url = https://github.com/Nathan-h05/COMP4537-Lab5.git
